#
name: Build and publish services

on:
    release:
        types: [published]

env:
    REGISTRY: ghcr.io

jobs:
    build-and-publish:
        name: Build and Publish
        runs-on: ubuntu-latest
        # Sets the permissions granted to the `GITHUB_TOKEN` for the actions in this job.
        permissions:
            contents: read
            packages: write
            attestations: write
            id-token: write
            #
        strategy:
            matrix:
                module:
                    - name: ingest/awips
                      dockerfile: awips.ingest
                    - name: parse/awips
                      dockerfile: awips.parse
                    - name: live
                      dockerfile: live
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Log in to the Container registry
              uses: docker/login-action@v3.3.0
              with:
                  registry: ${{ env.REGISTRY }}
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Extract metadata (tags, labels) for Docker
              id: meta
              uses: docker/metadata-action@v5.7.0
              with:
                  images: ${{ env.REGISTRY }}/${{ github.repository }}/${{matrix.module.name}}

            - name: Build and push Docker image
              id: push
              uses: docker/build-push-action@v6.15.0
              with:
                  context: .
                  file: ./deployment/docker/${{matrix.module.dockerfile}}.Dockerfile
                  platforms: linux/amd64
                  push: true
                  tags: ${{ steps.meta.outputs.tags }}
                  labels: ${{ steps.meta.outputs.labels }}
